:root {
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Public Sans', sans-serif;
    width: 1440px;
    background-color: var(--very-light-gray);
}

.attribution {
    font-size: 14px;
    color: var(--white);
    text-align: right;
    margin: 25px 30px 0 25px;
}

.attribution img {
    width: 2%;
}

header {
    display: grid;
    grid-template-columns: 450px 500px 450px;
    grid-template-rows: 90px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    background-color: var(--white);
    position: relative;
    z-index: 999;
}

.hamburguer, .modal-hamburguer {
    display: none;
}

.logo {
    grid-area: 1 / 1 / 2 / 2;
    margin: auto 130px;
    width: 40%;
}

.nav-bar {
    grid-area: 1 / 2 / 2 / 3;
    margin: auto;
}

.nav-bar li {
    display: inline;
    margin: 15px;
    font-size: 18px;
    color: var(--grayish-blue);
    font-weight: 600;
    padding-bottom: 30px;
}

.nav-bar li:hover {
    cursor: pointer;
    color: var(--dark-blue);
    border-bottom: solid 6px transparent;
    border-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    border-image-slice: 1;
}

.botao-convite-header {
    grid-area: 1 / 3 / 2 / 4;
    margin: 0 0 0 180px;
}

.botao-convite {
    width: 170px;
    height: 50px;
    padding: 16px;
    border-radius: 25px;
    color: var(--white);
    background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    border: transparent;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 14px;
}

.botao-convite:hover {
    opacity: 60%;
    cursor: pointer;
}

.secao-introducao {
    display: grid;
    grid-template-columns: 720px 720px;
    grid-template-rows: 300px 150px 200px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: var(--very-light-gray);
    background-image: url(../images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position-x: 650px;
    background-position-y: -285px;
    background-size: cover;
}

.secao-introducao h1 {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 55px;
    margin: 180px 0 0 130px;
    color: var(--dark-blue);
}

.secao-introducao p {
    grid-area: 2 / 1 / 3 / 2;
    font-size: 20px;
    text-align: left;
    margin: 40px 40px 0 130px;
    color: var(--grayish-blue);
    letter-spacing: 1.1px;
    line-height: 25px;
}

.botao-convite-intro {
    grid-area: 3 / 1 / 4 / 2;
    margin: 0 0 0 130px;
}

.imagem-introducao {
    grid-area: 1 / 2 / 4 / 3;
    position: relative;
    top: -110px;
    left: 135px;
    width: 585px;
    height: 875px;
    object-fit: cover;
    object-position: 0px 0px;
}

.secao-sobre {
    background-color: var(--light-grayish-blue);
}

.sobre {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: 190px 110px 110px 50px 190px;
    grid-column-gap: 25px;
    grid-row-gap: 0px;
    margin: 0 0 0 130px;
}

.sobre h1 {
    grid-area: 1 / 1 / 2 / 5;
    font-size: 35px;
    color: var(--dark-blue);
    margin: 140px 0 0 0;
}

.sobre p {
    grid-area: 2 / 1 / 3 / 5;
    font-size: 16px;
    color: var(--grayish-blue);
    margin: 0 30px 0 0;
    line-height: 22px;
}

.sobre h2 {
    font-size: 20px;
    color: var(--dark-blue);
}

.imagem-sobre {
    width: 25%
}

.img-online {
    grid-area: 3 / 1 / 4 / 2;
}

.tit-online {
    grid-area: 4 / 1 / 5 / 2;
}

.par-online {
    grid-area: 5 / 1 / 6 / 2;
}

.img-orcamento {
    grid-area: 3 / 2 / 4 / 3;
}

.tit-orcamento {
    grid-area: 4 / 2 / 5 / 3;
}

.par-orcamento {
    grid-area: 5 / 2 / 6 / 3;
}

.img-integracao {
    grid-area: 3 / 3 / 4 / 4;
}

.tit-integracao {
    grid-area: 4 / 3 / 5 / 4;
}

.par-integracao {
    grid-area: 5 / 3 / 6 / 4;
}

.img-api {
    grid-area: 3 / 4 / 4 / 5;
}

.tit-api {
    grid-area: 4 / 4 / 5 / 5;
}

.par-api {
    grid-area: 5 / 4 / 6 / 5;
}

.blog {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: 180px 220px 40px 100px 150px;
    grid-column-gap: 25px;
    grid-row-gap: 0px;
    height: 800px;
    margin: 0 0 0 130px;
}

.blog img {
    width: 270px;
    height: 180px;
    border-radius: 5px 5px 0 0;
}

.blog h2 {
    font-size: 20px;
    color: var(--dark-blue);
    line-height: 22px;
    margin: 0 20px;
}

.blog h2:hover {
    color: var(--lime-green);
    cursor: pointer;
}

.blog p {
    font-size: 16px;
    color: var(--grayish-blue);
    line-height: 22px;
    margin: 0 20px;
}

.tit-blog {
    grid-area: 1 / 1 / 2 / 5;
    font-size: 35px;
    color: var(--dark-blue);
    margin: 100px 0 0 0;
}

.img-money {
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--white);
}

.por-money {
    grid-area: 3 / 1 / 4 / 2;
    background-color: var(--white);
}

.tit-money {
    grid-area: 4 / 1 / 5 / 2;
    background-color: var(--white);
}

.par-money {
    grid-area: 5 / 1 / 6 / 2;
    background-color: var(--white);
    border-radius: 0 0 5px 5px;
}

.img-restaurante {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--white);
}

.por-restaurante {
    grid-area: 3 / 2 / 4 / 3;
    background-color: var(--white);
}

.tit-restaurante {
    grid-area: 4 / 2 / 5 / 3;
    background-color: var(--white);
}

.par-restaurante {
    grid-area: 5 / 2 / 6 / 3;
    background-color: var(--white);
    border-radius: 0 0 5px 5px;
}

.img-aviao {
    grid-area: 2 / 3 / 3 / 4;
    background-color: var(--white);
}

.por-aviao {
    grid-area: 3 / 3 / 4 / 4;
    background-color: var(--white);
}

.tit-aviao {
    grid-area: 4 / 3 / 5 / 4;
    background-color: var(--white);
}

.par-aviao {
    grid-area: 5 / 3 / 6 / 4;
    background-color: var(--white);
    border-radius: 0 0 5px 5px;
}

.img-confeti {
    grid-area: 2 / 4 / 3 / 5;
    background-color: var(--white);
}

.por-confeti {
    grid-area: 3 / 4 / 4 / 5;
    background-color: var(--white);
}

.tit-confeti {
    grid-area: 4 / 4 / 5 / 5;
    background-color: var(--white);
}

.par-confeti {
    grid-area: 5 / 4 / 6 / 5;
    background-color: var(--white);
    border-radius: 0 0 5px 5px;
}

footer {
    background-color: var(--dark-blue);
    height: 200px;
}

.secao-contato {
    display: grid;
    grid-template-columns: 290px 140px 200px 580px;
    grid-template-rows: 50px 30px 50px;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    margin: 0 0 0 130px;
}

.secao-contato p {
    color: var(--white);
    font-size: 16px;
}

.secao-contato p:hover {
    cursor: pointer;
    color: var(--lime-green);
}

.logo-contato {
    grid-area: 1 / 1 / 2 / 2;
    margin: 40px 0 0 0;
}

.icones-redes {
    grid-area: 3 / 1 / 4 / 2;
    margin: 20px 0 0 0;
}

.icones-redes img {
    margin: 0 15px 0 0;
    width: 8%;
}

.icones-redes img:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(65%) sepia(60%) saturate(574%) hue-rotate(82deg) brightness(95%) contrast(87%);
}

.contato-sobre {
    grid-area: 1 / 2 / 2 / 3;
    margin: 40px 0 0 0;
}

.contato-contato {
    grid-area: 2 / 2 / 3 / 3;
    margin: 30px 0 0 0;
}

.contato-blog {
    grid-area: 3 / 2 / 4 / 3;
    margin: 40px 0 0 0;
}

.contato-carreira {
    grid-area: 1 / 3 / 2 / 4;
    margin: 40px 0 0 0;
}

.contato-suporte {
    grid-area: 2 / 3 / 3 / 4;
    margin: 30px 0 0 0;
}

.contato-politica {
    grid-area: 3 / 3 / 4 / 4;
    margin: 40px 0 0 0;
}

.botao-convite-footer {
    grid-area: 1 / 4 / 2 / 5;
    margin: 40px 0 0 300px;
}

.copyright {
    grid-area: 3 / 4 / 4 / 5;
    margin: 20px 0 0 150px;
}