:root {
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Public Sans', sans-serif;
    max-width: 100vw;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

header {
    display: grid;
    grid-template-columns: 450px 500px 450px;
    grid-template-rows: 90px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    background-color: var(--white);
    position: relative;
    z-index: 999;
}

.logo {
    grid-area: 1 / 1 / 2 / 2;
    margin: auto 130px;
    width: 40%;
}

.nav-bar {
    grid-area: 1 / 2 / 2 / 3;
    margin: auto;
}

.nav-bar li {
    display: inline;
    margin: 15px;
    font-size: 18px;
    color: var(--grayish-blue);
    font-weight: 600;
    padding-bottom: 30px;
}

.nav-bar li:hover {
    cursor: pointer;
    color: var(--dark-blue);
    border-bottom: solid 6px transparent;
    border-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    border-image-slice: 1;
}

.botao-convite {
    grid-area: 1 / 3 / 2 / 4;
    margin: auto;
    width: 170px;
    height: 50px;
    padding: 16px;
    border-radius: 25px;
    color: var(--white);
    background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    border: none;
    letter-spacing: 1.5px;
    font-weight: 600;
}

.botao-convite:hover {
    opacity: 60%;
    cursor: pointer;
}

.introducao {
    display: grid;
    grid-template-columns: 700px 700px;
    grid-template-rows: 300px 150px 200px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: var(--very-light-gray);
    background-image: url(../images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position-x: 650px;
    background-position-y: -260px;
}

.introducao h1 {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 55px;
    margin: 180px 0 0 130px;
    color: var(--dark-blue);
}

.introducao p {
    grid-area: 2 / 1 / 3 / 2;
    font-size: 20px;
    text-align: left;
    margin: 40px 40px 0 130px;
    color: var(--grayish-blue);
    letter-spacing: 1.1px;
    line-height: 25px;
}

.botao-convite-intro {
    grid-area: 3 / 1 / 4 / 2;
    margin: 40px 0 0 130px;
    width: 170px;
    height: 50px;
    padding: 16px;
    border-radius: 25px;
    color: var(--white);
    background-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    border: none;
    letter-spacing: 1.5px;
    font-weight: 600;
}

.botao-convite-intro:hover {
    opacity: 60%;
    cursor: pointer;
}

.imagem-introducao {
    grid-area: 1 / 2 / 4 / 3;
    position: relative;
    top: -110px;
    left: 120px;
    width: 110%;
}

.secao-sobre {
    background-color: var(--light-grayish-blue);
}

.sobre {
    display: grid;
    grid-template-columns: repeat(4, 285px);
    grid-template-rows: 190px 110px 110px 50px 190px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0 0 0 130px;
}

.sobre h1 {
    grid-area: 1 / 1 / 2 / 5;
    font-size: 35px;
    color: var(--dark-blue);
    margin: 140px 0 0 0;
}

.sobre p {
    grid-area: 2 / 1 / 3 / 5;
    font-size: 16px;
    color: var(--grayish-blue);
    margin: 0 30px 0 0;
    line-height: 22px;
}

.sobre h2 {
    font-size: 20px;
    color: var(--dark-blue);
}

.imagem-sobre {
    width: 25%
}

.div3 {
    grid-area: 3 / 1 / 4 / 2;
}

.div4 {
    grid-area: 4 / 1 / 5 / 2;
}

.div5 {
    grid-area: 5 / 1 / 6 / 2;
}

.div6 {
    grid-area: 3 / 2 / 4 / 3;
}

.div7 {
    grid-area: 4 / 2 / 5 / 3;
}

.div8 {
    grid-area: 5 / 2 / 6 / 3;
}

.div9 {
    grid-area: 3 / 3 / 4 / 4;
}

.div10 {
    grid-area: 4 / 3 / 5 / 4;
}

.div11 {
    grid-area: 5 / 3 / 6 / 4;
}

.div12 {
    grid-area: 3 / 4 / 4 / 5;
}

.div13 {
    grid-area: 4 / 4 / 5 / 5;
}

.div14 {
    grid-area: 5 / 4 / 6 / 5;
}
